body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 4px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background: white;
  margin: 0;
  padding: 0;
  image-rendering: -moz-crisp-edges;
  -webkit-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.19);
}

.app {
  height: 100%;
}

.container {
  padding: 10px;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
